@import '../reset.css'
@import '_global.sass'

// -------------------------------------
//   Layout
// -------------------------------------
.container
  max-width: 1296px
  margin: 0 auto
  padding-left: 12px
  padding-right: 12px
.row
  margin-left: -12px
  margin-right: -12px
.column
  padding-left: 12px
  padding-right: 12px
